.navbar {
  display: flex;            // makes .logo and .navigationSection sit in one row
  align-items: center;      // vertically center items
  padding: 0 20px;
  height: 60px;
  color:white;
  background-color: #244855;

  .logo {
    display: flex;
    justify-content: flex-start; // aligns logo to the left
    align-items: center;

    img {
      height: 40px;
    }
  }

  .navigationSection {
    display: flex;
    margin-left: auto;         // pushes navigation buttons to the right
    align-items: center;

    .navbutton {
      margin-left: 20px;
      padding: 8px 16px;
      border: none;
      color:white;
      background: none;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
